.loader-wrapper {
  width: 90%;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
  border-radius: 20px;
  padding: 1px;
  display: flex;
  flex-direction: column;
}

.fill {
  content: "";
  animation: fill 2s linear forwards;
  background-color: blueviolet;
  width: 20%;
  height: 50px;
  left: 1px;
  top: 1px;
  border-radius: 20px;
}

@keyframes fill {
  0% {
    width: 0%;
  }

  20% {
    width: calc(var(--value) / 10);
  }

  40% {
    width: calc(var(--value) / 7);
  }

  60% {
    width: calc(var(--value) / 4);
  }

  80% {
    width: calc(var(--value) / 2);
  }

  100% {
    width: var(--value);
  }
}

@media only screen and (max-width: 700px) {
  .loader-wrapper {
    height: 15px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  }
}