.column-wrapper {
    background-color: white;
    padding: 4rem;
    margin: 0 2rem;
    width: 37.5vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 70px;
}

@media only screen and (max-width: 1700px) {
    .column-wrapper {
        padding: 3rem;
    }
}

@media only screen and (max-width: 1200px) {
    .column-wrapper {
        width: 75vw;
        max-width: 75vw;
        height: 50vw;
        margin: 3rem auto;
    }
}

@media only screen and (max-width: 900px) {
    .column-wrapper {
        width: 75vw;
        max-width: 75vw;
        height: 60vw;
        margin: 3rem auto;
    }
}

@media only screen and (max-width: 900px) {
    .column-wrapper {
        width: 75vw;
        max-width: 75vw;
        height: 60vw;
        margin: 1rem auto;
        padding: 2rem;
        border-radius: 50px;
    }
}
