.skills-wrapper {
  box-sizing: border-box;
  padding: 5rem 5rem 7rem;
  background-image: linear-gradient(45deg, #9772fb 50%, #6e3afd);
}

.skills-wrapper h1 {
  color: white;
  font-size: 3.75rem;
  margin-bottom: 3rem;
}

.skill-column-wrapper {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .skill-column-wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 650px) {
  .skills-wrapper {
    padding: 2.5rem;
  }

  .skills-wrapper h1 {
    margin-bottom: 1.5rem;
  }
}
